// Color palette

$color-primary			: #01689b;
$color-secondary		: #76d2b6;
$color-dark-blue		: #154273;
$color-dark-green		: #6abda4;


// Standard colors

$color-black			: #121312;
$color-white		    : #FFFFFF;



// Main color settings

$color-button			: #a90061;
$color-text				: #282828;
$color-inactive			: #66b69e;
$color-background-html	: $color-secondary;


