//  Grid config(s)
//  @see: utils/grid/* for more info

$container-padding-small-breakpoint   : $breakpoint-small;
$container-mobile-first               : true;
$container-config                     : ( max-width: $breakpoint-extra-large,
                                          gutter: 20px,
                                          gutter-small: 10px );


$grid-font-reset                      : $font-stack-body;
$grid-mobile-first                    : true;
$grid-gutter-small-breakpoint         : $container-padding-small-breakpoint;
$grid-breakpoints                     : ( 'sm': $breakpoint-small,
                                          'md': $breakpoint-medium,
                                          'lg': $breakpoint-large );
$grid-config                          : ( columns: 12,
                                          gutter: 20px,
                                          gutter-small: 10px,
                                          add-push-pull: true,
                                          add-pre-post: true  );


