<div class="m--step -question6 js--step js--step-question6">

    <div class="step__image-holder -hide-for-small">

        <span class="step__image">
            {{ asset("/public_html/assets/svg/image-computer.svg") |raw }}
        </span>

        <span class="step__image -vergroot">
            {{ asset("/public_html/assets/svg/image-vergroot.svg") |raw }}
        </span>

    </div>


    <div class="step__form">

        <h3 class="h3 step__heading">Wat voor soort informatie zou u zoeken?</h3>

        <fieldset>
            <form>

                {% import 'elements/radio.html.twig' as radio %}

                {{ radio.radios({
                    label: '',
                    name: 'question6',
                    id: 'question6',
                    classes: '',
                    required: true,
                    options: [
                    {'value': 'Hoe om te gaan met mijn ziekte/beperking in het dagelijks leven.', 'label': 'Hoe om te gaan met mijn ziekte/beperking in het dagelijks leven.', 'selected': true, 'withInput': 'false'},
                    {'value': 'Waar ik het beste behandeld kan worden of welke dokter of medisch specialist het beste bekend staat.', 'label': 'Waar ik het beste behandeld kan worden of welke dokter of medisch specialist het beste bekend staat.', 'selected': false, 'withInput': 'false'},
                    {'value': 'De ervaringen van andere patiënten over hun behandeling.', 'label': 'De ervaringen van andere patiënten over hun behandeling.', 'selected': false, 'withInput': 'false'},
                    {'value': 'Anders, namelijk…', 'label': 'Anders, namelijk…', 'withInput': 'true', 'selected': false, 'withInput': 'true'}
                    ]
                }) }}

            </form>

        </fieldset>


        {% import 'elements/button.html.twig' as button %}

        {{ button.button({

            classes: 'js--next-step',
            label: 'Ga naar eindscherm'

        })

        }}



    </div>

</div>