<div class="m--status-bar  js-status-bar">

    <ul class="status-bar__list">

        {% for i in range(0,5) %}

            <li class="status-bar__list-item  {%- if loop.index <= 4  %} -done{% endif -%} {%- if loop.index == 6  %} -next{% endif -%}">

                <span class="status-bar__spacer"></span>
                <span class="status-bar__count" >{%- if loop.index > 4  %}{{ loop.index }}{% endif -%}</span>


            </li>

        {% endfor %}

    </ul>


</div>