@font-face{
  font-family:"Bree";
  src:url("/assets/fonts/Bree-Serif-regular.eot?#iefix");
  src:url("/assets/fonts/Bree-Serif-regular.eot?#iefix") format("eot"),
  url("/assets/fonts/Bree-Serif-regular.woff2") format("woff2"),
  url("/assets/fonts/Bree-Serif-regular.woff") format("woff"),
  url("/assets/fonts/Bree-Serif-regular.ttf") format("truetype"),
  url("/assets/fonts/Bree-Serif-regular.svg#Bree-Serif-regular") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face{
  font-family:"RijksoverheidSansText";
  src:url("/assets/fonts/RijksoverheidSansText-Regular.eot?#iefix");
  src:url("/assets/fonts/RijksoverheidSansText-Regular.eot?#iefix") format("eot"),
  url("/assets/fonts/RijksoverheidSansText-Regular.woff2") format("woff2"),
  url("/assets/fonts/RijksoverheidSansText-Regular.woff") format("woff"),
  url("/assets/fonts/RijksoverheidSansText-Regular.ttf") format("truetype"),
  url("/assets/fonts/RijksoverheidSansText-Regular.svg#Bree-Serif-regular") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face{
  font-family:"RijksoverheidSansText";
  src:url("/assets/fonts/RijksoverheidSansText-Bold.eot?#iefix");
  src:url("/assets/fonts/RijksoverheidSansText-Bold.eot?#iefix") format("eot"),
  url("/assets/fonts/RijksoverheidSansText-Bold.woff2") format("woff2"),
  url("/assets/fonts/RijksoverheidSansText-Bold.woff") format("woff"),
  url("/assets/fonts/RijksoverheidSansText-Bold.ttf") format("truetype"),
  url("/assets/fonts/RijksoverheidSansText-Bold.svg#Bree-Serif-regular") format("svg");
  font-weight: 700;
  font-style: normal;
}
