{% extends 'layout.html.twig' %}

{% block content %}

    <section class="m--app">

        <div class="app__steps js--step-manager">

            {% include "modules/question5.html.twig" %}

            {% include "modules/question6.html.twig" %}

            {% include "modules/form.html.twig" %}

        </div>

        {% include "modules/status-bar.html.twig" %}

    </section>

{% endblock %}
